/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1400px) {
	.arrow_up{
		right: 50px;
	}
}
@media only screen and (max-width: 1199px) {
	.menu_link{
		padding: 10px 8px;
	}
	.logo a{
		/*width: 215px;*/
		/*width: 134px;*/
		height: 78px;
	}
	.is-sticky .logo a {
        /*width: 110px;*/
        height: 65px;
	}
	nav.navigation_menu{
		margin: 9px 0;
	}
	.arrow_up{
		bottom: 50px;
		right: 30px;
	}
	.sale_first_name{
		font-size: 20px;
	}
	.sale_link_main{
		padding: 15px;
	}
	.table_service_th{
		font-size: 18px;
	}
	.select_box.select_item{
		width: 32.77%;
	}
}
@media only screen and (max-width: 991px) {
	/*body{min-width:768px;}*/
	
	.logo a,
	.is-sticky .logo a{
        /*width: 170px;*/
        height: 61px;
	}
	.application_online_text {
        margin-left: 0px;
	}
	.header_right{
		position: relative;
	}
	nav.navigation_menu{
		margin-top: 0;
        position: fixed;
        z-index: 999;
        width: 250px;
        height: 100%;
        top: 0;
        bottom: 0;
        right: -250px;
        -webkit-transition: all ease 0.5s;
           -moz-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
             -o-transition: all ease 0.5s;
                transition: all ease 0.5s;
        /*background-color: #2f3337;*/
        background-color: #26292D;
        overflow: auto;
	}
	.is-sticky nav.navigation_menu{
        margin: 0;
	}
	.show_menu nav.navigation_menu{
		right: 0;
	}
	.menu {
        padding-top: 60px;
        margin-left: 10px;
	}
	.menu_item{
		display: block;
		float: none;
		margin-left: 0;
	}
	.menu_item.active .menu_link,
	.show_menu .menu_item:hover .menu_link,
	.show_menu .menu_item.current .menu_link{
		padding-left: 20px;
		background-color: #63B8BD;
        color: #FFF;
	}
	.menu_link{
		font-size: 18px;
		line-height: 30px;
		display: block;
	}
	.resp_btn{
		display: block;
		float: right;
		font-size: 25px;
		line-height: 30px;
		color: #63B8BD;
		cursor: pointer;
		padding: 10px;
		margin: 5.5px 0;
		vertical-align: middle;
	}
	.resp_btn .fa-bars{
		line-height: 30px;
	}
	.resp_btn .fa-bars:before{
		font-size: 21px;
		line-height: 25px;
	}
	.close_resp_menu{
		display: block;
		/*position: absolute;
		right: 10px;
		top: 10px;*/
		float: right;
		cursor: pointer;
		width: 40px;
		height: 40px;
		text-align: center;
		vertical-align: middle;
		padding: 5px 0;
        background-color: #fff;
        margin: 10px;
	}	
		.close_resp_menu .fa-times:before{
			color: #63B8BD;
			font-size: 30px;
		}
	#content{
		-webkit-transition: all ease 0.5s;
           -moz-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
             -o-transition: all ease 0.5s;
                transition: all ease 0.5s;
	}
	.show_menu #content ,
	.show_menu .arrow_up{
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
        -webkit-transition: all ease 0.5s;
           -moz-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
             -o-transition: all ease 0.5s;
                transition: all ease 0.5s;
	}
	.menu_item:hover .dropdown-menu{
		display: none;
	}
	.menu_item.active .dropdown-menu{
		position: static;
		visibility: visible;
        opacity: 1;
        height: auto;
        z-index: 999;
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
	}
	.dropdown-menu{
		display: none;
		position: static;
		visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        min-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; 
        -webkit-box-shadow: none; 
        -moz-box-shadow: none;
        box-shadow: none; 
        padding: 10px;
	}
	.dropdown-menu li a{
		padding: 5px 0;
	}
	.btn,
	.btn2{
		font-size: 17px;
		line-height: 20px;
		padding: 15px 30px;
	}
	.arrow_up {
		bottom: 30px;
		right: 30px;
	}
	.arrow_up .fa-arrow-up{
		width: 50px;
		height: 50px;
		background-color: transparent;
        border: 3px solid #888 ;
	}
	.arrow_up.click .fa-arrow-up {
        background-color: #34A706;
        border: 3px solid #34A706;
	}
	.arrow_up .fa-arrow-up:before{
		line-height: 45px;
		font-size: 25px;
	}
	.quotations .col-lg-4:nth-child(2){
		padding: 10px 0 ;
	}
	.sale_box_main .col-lg-3:nth-child(1),
	.sale_box_main .col-lg-3:nth-child(2){
		padding-bottom: 20px;
	}
	.sale_link_main {
        padding: 15px;
	}
	.sale_last_name.invisible{
		display: none;
	}
	.sale_box_item{
		min-height: 200px;
	}
	.table_service_th {
        font-size: 15px;
	}
	.footer_text{
		font-size: 18px;
		padding: 10px 0;
	}
	.fadeInUp,
    .fadeInLeft{
        visibility: visible;
    }
    .select_box.select_item {
        width: 32.6%;
	}
	.registration_title{
		font-size: 20px;
	}
	.title2{
		font-size: 40px;
		line-height: 45px;
	}
	.different_services_title{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.different_services_img{
		margin-bottom: 15px;
	}
	/*----------- START: FAQ'S pages ----------*/
	.faqs_1_block_text{
        margin-left: 0px;
	}
	/*----------- START: FAQ'S pages ----------*/
}

@media only screen and (max-width: 767px) {
	/*body{min-width:420px;}*/
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding: 5px 10px;
	}
	.application_online_main{
		text-align: center;
	}
	.application_online_main .list{
		text-align: left;
	}
	.sale_box_main .col-lg-3:nth-child(1),
	.sale_box_main .col-lg-3:nth-child(2){
		padding: 0 10px 5px 10px;
	}
	.sale_last_name{
		margin-bottom: 0;
	}
	.table_service_td{
		padding: 5px;
	}
	.table_service_th {
        font-size: 13px;
	}
	.footer_top_list_it a{
		font-size: 18px;
	}
	.footer_text{
		padding: 5px 0;
	}
	.registration_title{
		margin-bottom: 20px;
		font-size: 18px;
	}
	.title3 {
        font-size: 20px;
        line-height: 25px;
    }
    .different_services_img {
        float: left;
        margin-right: 15px;
        width: 40%;
	}
	.faqs_1_block_text .title2{
		font-size: 29px;
	}
}

@media only screen and (max-width: 665px) {
	.contact_box_text .fa{
		width: 30px;
		height: 30px;
	}
		.contact_box_text .fa:before{
			line-height: 30px;
			font-size: 18px;
		}
	.contact_adress_txt,
	.contact_telnumb,
	.contact_printnumb,
	.contact_link_mail{
		font-size: 14px;
	}
}
@media only screen and (max-width: 530px) {
	.footer_top_list_it a{
		margin-right: 10px;
		font-size: 15px;
	}
	.contact_us_our_adress .col-xs-4:nth-child(2){
		padding: 15px 10px;
	}
	.contact_us_our_adress .col-xs-4{
		width: 100%;
	}
	.contact_us_our_adress {
		padding: 0;
	}
	[class^="contact_box_"]{
		width: 230px;
		margin: auto;
	}
}
@media only screen and (max-width: 479px) {
	/*body{min-width:300px;}*/
	.sale_first_name{
		font-size: 18px;
	}
	.sale_last_name,
	.footer_text,
	.registration_title{
		font-size: 16px;
	}
	.sale_price{
		font-size: 35px;
	}
	.sale_short_text{
		font-size: 13px;
	}
	.select_title.title1{
		font-size: 14px;
	}
	.radio_input + .radio_label{
		font-size: 16px;
		line-height: 18px;
	}
	.title2{
		font-size: 30px;
		line-height: 35px;
	}
	.title1{
		font-size: 18px;
		line-height: 22px;
	}
	.different_services_img{
		width: 100%;
		float: none;
		text-align: center;
	}
	.different_services_title{
		text-align: center;
	}
	.terms_list{
		padding-left: 15px;
	}
	.terms_block{
		padding-left: 30px;
	}
	.title4{
		font-size: 15px;
		line-height: 20px;
	}
	
}
@media only screen and (max-width: 450px){
	.sale_box_main .col-xs-6{
		width: 100%;
	}
	.sale_first_name{
		text-align: center;
	}
	.sale_box_main .col-lg-3:nth-child(1){
		padding-bottom: 10px;
	}
	.footer_top_list_it {
		float: none;
		text-align: center;
	}
	.footer_top_list_it a{
		font-size: 20px;
		margin-right: 0;
		line-height: 38px;
	}
	.faqs_1_block_text .title2{
		font-size: 25px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 400px) {
	.list_child, li{
		padding-bottom: 5px;
	}
	.select_box.select_item{
		width: 100%;
	}
}