@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/animate.min.css";
@import "../css/jquery.formstyler.css";
@import "../font-awesome-4.5.0/css/font-awesome.min.css";

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
    font-family: "LatoRegular" , sans-serif;
    font-size:15px;
    line-height:22px;
    color: #888888;
    min-width:320px;
    background-color: #fff;
    -webkit-text-size-adjust: none;
}
input,
textarea,
button{
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    outline:none;
}
button{
    outline:none;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/*----------------------> Links And buttons <------------------*/
a {
    outline:none;
    text-decoration:none;
    cursor:pointer;
    display: inline-block;
    color: #63B8BD;
}
a:hover{
    text-decoration:none;
    color: #2f3337;
}

.btn{
    font-size: 21px;
    line-height: 30px;
    display:inline-block;
    padding:15px 44px;
    margin: 0 0 0;
    outline: none;
    background-color: #2f3337;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
 }
.btn:hover{
    color: #ffffff;
    background-color: #63b8bd;
}
.btn2{
    font-size: 21px;
    line-height: 30px;
    display:inline-block;
    padding:15px 44px;
    margin: 0 0 0;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #63b8bd;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
 }
.btn2:hover{
    background-color: #2f3337;
    color: #ffffff;
}


/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_t_zero{ margin-top:0 !important;}
.m_b_zero{ margin-bottom:0 !important;}
.m_r_zero{ margin-right:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_t_zero{ padding-top:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_r_zero{ padding-right:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.bg_blue{
    background-color: #63B8BD;
}

.black{color: #2F3337 !important;}

/*======================> Header <======================*/

    header {
        
    }
        .header_top{
            background-color: #fff;
            color: #26292D;
            padding: 10px 0;
        }
            .header_right_tel_box{
                font-size: 20px;
                line-height: 1.5;
                text-align: right;
            }
                .header_right_tel{
                    font-size: 25px;
                    line-height: 1.23;
                }


        header .placeholder,
        .is-sticky.header_bottom{
            width: 100% !important;
        }
        .header_bottom{
            background: #2f3337;
            /*height: 93px;*/
            box-shadow: 0 2px 5px #777;
            z-index: 999;
        }
        .is-sticky.header_bottom{
            /*height: 65px;*/
        }
            .is-sticky .logo a{
                /*width: 180px;*/
                height: 65px;
            }   
            .is-sticky nav.navigation_menu {
                margin: 7.5px 0;
            }
                .is-sticky .menu_link{
                    line-height: 30px;
                }


            .header_left{
                float: left;
            }
                .logo{
                    
                }
                    .logo a{
                        display:block;
                        /*width:256px;*/
                        width: 151px;
                        height:93px;
                        background:url(../images/logo.png) 50% 50% no-repeat;
                        text-decoration:none;
                        text-indent:-9999px;
                        -webkit-background-size: 100%;
                             -o-background-size: 100%;
                                background-size: 100%;
                    }


            .header_right{
                float: right;
            }
            
                nav.navigation_menu{
                    margin: 16.5px 0;
                    position: relative;
                }
                    .menu{
                        
                    }
                        .menu_item{
                            float: left;
                            position: relative;
                            padding-left: 0;
                            margin-left: 2px;
                            padding-bottom: 0;
                        }
                        .menu_item.current .menu_link,
                        .menu_item:hover .menu_link{
                            background-color: #63B8BD;
                            color: #FFF;
                        }
                        .menu_item:hover .dropdown-menu{
                            display: block;
                        }
                            .menu_link{
                                color: #fff;
                                padding: 10px 15px;
                                text-transform: uppercase;
                                text-decoration: none;
                                line-height: 40px;
                                font-size: 22px;
                                display: inline-block;
                                font-family: "LatoLight";
                            }

                                .dropdown-menu{
                                    position: absolute;
                                    top: 100%;
                                    left: -1px;
                                    display: none;
                                    z-index: 1000;
                                    min-width: 330px;
                                    padding: 15px;
                                    margin: 2px 0 0;
                                    background-color: #2f3337;
                                    border: 1px solid rgba(0,0,0,.2);
                                    -webkit-border-radius: 6px;
                                    -moz-border-radius: 6px;
                                    border-radius: 6px;
                                    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                                    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                                    box-shadow: 0 5px 10px rgba(0,0,0,.2);
                                }
                                    .dropdown-menu:before{
                                        content: "";
                                        position: absolute;
                                        top: -7px;
                                        padding-top: 10px;
                                        left: 0;
                                        width: 100%;
                                        right: 0;
                                    }
                                    .dropdown-menu li{
                                        padding-bottom: 0;
                                        margin-left: 0;
                                    }
                                        .dropdown-menu li:first-child a{
                                            border-top: none;
                                        }
                                        .dropdown-menu li a{
                                            font-size: 15px;
                                            line-height: 22px;
                                            padding: 8px 0px 9px;
                                            display: block;
                                            font-family: "LatoLight";
                                            border-top: 1px solid #726969;
                                            color: #FFF;
                                        }
                                        .dropdown-menu li a:hover{
                                            color: #63b8bd;
                                        }

/*======================> Header End <======================*/


/*=====================> Content ========================*/
    #content {
        padding: 0; 
    }
        .indent_box{
            padding: 30px 0; 
        }


/*=======index.html start=======*/

        .application_online_main{
            overflow: hidden;
        }


            .application_online_img{
                width: 100%;
                max-height: 279px;
            }
                .application_online_img img{
                    
                }


            .application_online_text{
                margin-left: 10px;
            }
                .list/*,
                ul*/{
                    
                }
                    .list_child/*,
                    li*/{
                        position: relative;
                        margin-left: 16px;
                        padding-bottom: 12px;
                    }
                        .list_child_links/*,
                        li a*/{
                            color: #888888;
                            font-family: "LatoLight";
                        }
                        .list_child_links:hover/*,
                        li a:hover*/{
                            color: #63b8bd;
                        }
                            .list_child_links:before,
                            .faqs_1_list li:before{
                                content: "\f105";
                                position: absolute;
                                font: 16px/18px FontAwesome;
                                color: #63b8bd;
                                position: absolute;
                                top: 0;
                                left: -15px;
                            }


                .application_online_link_box{
                    margin: 20px 0 0 -5px;
                }
                    .application_online_link_box_it{
                        margin: 5px;
                    }



    .banner_text{
        overflow: hidden;
    }
        .banner_text p{
            margin: 0 0 10px 0;
            color: #FFF;
        }
        .banner_text p + p {
            margin-bottom: 0;
        }




    .quotations{
        overflow: hidden;
    }
        .quotations_item{
            font-size: 20px;
            text-align: center;
        }
            .testimonial_img_box{
                max-width: 200px;
                max-height: 200px;
                margin: 0 auto 20px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
            }
            .quotations_item p{
                margin:0;
                color: #26292D;
                position: relative;
                padding: 0 28px;
            }
            .quotations_item p i{
                color: #63B8BD;
                font-size: 20px;
            }
            .testimonial_name{
                position: relative;
                margin-top: 20px;
                display: block;
                color: #63B8BD;
            }
                .testimonial_name:before{
                    position: absolute;
                    content: "";
                    top: -10px;
                    right: 50%;
                    margin-right: -25px;
                    border-bottom: 1px solid #63B8BD;
                    width: 50px;
                }
        



    .sale_box_main{
        overflow: hidden;
    }   
    
        .sale_box_main .fa-gbp{
            position: absolute !important;
            left: 45%;
            top: 20%;
            font-size: 297px;
            line-height: 300px;
            color: rgba(255, 255, 255, 0.05);
            z-index: 1;
        }
        .sale_box_item{
            background-color: rgba(47, 51, 55, 0.85);
            min-height: 300px;
            position: relative;
            padding: 20px;
            overflow: hidden;
            cursor: pointer;
            text-align: center;
        }
            .sale_box_item *{
                position: relative;
                z-index: 2;
            }
            .sale_first_name{
                color: #fff;
                font-size: 25px;
                line-height: 1.23;
                margin-bottom: 0;
                text-align: left;
            }
            .sale_last_name{
                color: #63B8BD;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 5px;
            }
            .sale_price{
                font-size: 45px;
                color: #fff;
                line-height: 50px;
            }
            .sale_img{
                
            }
            .sale_short_text{
                color: #fff;
                padding-top: 5px;
                font-size: 15px;
                line-height: 22px;
                margin-bottom: 9px;
                text-align: left;
            }
            .sale_link_main{
                cursor: pointer;
                font-size: 15px;
                text-transform: uppercase;
            }
            .sale_box_item:hover .sale_link_main,
            .sale_link_main:hover,
            .sale_box_item.alloted .sale_link_main{
                background: white;
                color: #63b8bd;
            }
            .sale_box_item.alloted:hover .sale_link_main{
                background-color: #2f3337;
                color: #ffffff;
            }
                .sale_box_item a.p_abs{
                    position: absolute;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 9;
                }



    .table_service_box{
        overflow: hidden;
    }
        table.table_service_it{
            font-size: 15px;
            width: 100%;
            color: #26292D;
        }
            .table_srvice_tr{
                
            }
                .table_service_th{
                    background-color: #63B8BD;
                    color: #FFF;
                    border: 2px solid #26292D;
                    padding: 15px 5px;
                    font-size: 20px;
                    line-height: 22px;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
                .table_service_th:first-child{
                    width: 65%;
                }
                .table_service_th:nth-child(2){
                    width: 17.5%;
                }
                .table_service_th:nth-child(3){
                    width: 17.5%;
                }
                .table_service_td{
                    border: 2px solid #26292D;
                    padding: 15px 5px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 16px;
                    font-family: "LatoRegular";
                }
                    .table_service_td .fa-check{
                        font-size: 21px;
                        color: #34A706;
                    }
                    .table_service_td .fa-times{
                        font-size: 21px;
                        color: #C31010;
                    }
                    .table_service_td img{
                        vertical-align: middle;
                    }
                .table_service_td:first-child{
                    text-align: left;
                }
/*=======index.html end=======*/



/*=======apply.html start=======*/

    .application_choice_main{
        overflow: hidden;
    }
        #application_form{
            
        }
        .application_form{
            
        }
            .radion_container{
                
            }
                .radio_container_item{
                    margin-bottom: 10px;
                }
                    .radio_input{
                        display: none;
                    }
                    .radio_input + .radio_label{
                        position: relative;
                        padding: 2px 0 2px 20px;
                        font-size: 18px;
                        line-height: 22px;
                        color: #26292D;
                        display: block;
                    }
                        .radio_label{
                            cursor: pointer;
                        }
                        .radio_label:hover,
                        input.radio_input:checked + label{
                            color: #63B8BD;
                        }
                        .radio_label:before{
                            position: absolute;
                            left: 0;
                            top: 3px;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            overflow: hidden;
                            color: #fff;
                            content: "\f111";
                            display: inline-block;
                            font: normal normal normal 16px/1 FontAwesome;
                            /*font-size: inherit;*/
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            color: #63B8BD;
                            content: "\f10c";
                        }
                        input.radio_input:checked + label:before{
                            color: #63B8BD;
                            content: "\f192";
                        }
                .radio_description{
                    font-size: 15px;
                    padding-left: 20px;
                }

/*=======apply.html end=======*/



/*=======our_services.html start=======*/

    .our_services_main{
        overflow: hidden;
    }
        .our_services_info{
            
        }
            .our_services_info p{
                color: #26292D;
            }

        .different_services{
            overflow: hidden;
        }
            .different_service_title_main{
                
            }
            .different_services_box{
                
            }
                .different_services_img{
                    margin-bottom: 25px;
                }
                    .different_services_img img{
                        
                    }
                .different_services_info{
                    
                }
                    .different_services_title{
                        
                    }
                    .different_services_info p{
                        
                    }

/*=======our_services.html end=======*/



/*=======contact_us.html start=======*/

    .contact_us_our_adress{
        overflow: hidden;
    }
        .contact_title{
            
        }

            .contact_box_adress{
                
            }
                .contact_box_title{
                    
                }
                .contact_box_text{
                    color: #26292D;
                }
                    .contact_adress{
                        display: table;
                    }
                        .contact_adress .fa-home{
                            
                        }
                        .contact_adress_txt{
                            display: table-cell;
                            vertical-align: middle;
                            padding-left: 10px;
                            font-size: 18px;
                        }


            .contact_box_phones{
                
            }
                .contact_tel{
                    display: table;
                    margin-bottom: 10px;
                }
                    .contact_tel .fa-phone{
                        
                    }
                    .contact_telnumb{
                        vertical-align: middle;
                        display: table-cell;
                        padding-left: 10px;
                        font-size: 18px;
                    }

                .contact_print{
                    display: table;
                }
                    .contact_print .fa-print{
                        
                    }
                    .contact_printnumb{
                        vertical-align: middle;
                        display: table-cell;
                        padding-left: 10px;
                        font-size: 18px;
                    }


            .contact_box_email{
                
            }
                .contact_mail_link{
                    display: table;
                }
                    .contact_mail_link .fa-envelope{
                        
                    }
                    .contact_link_mail{
                        vertical-align: middle;
                        display: table-cell;
                        padding-left: 10px;
                        font-size: 18px;
                    }

                .contact_box_text .fa{
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    background-color: #63B8BD;
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    /*vertical-align: middle;
                    display: table-cell;*/
                }
                .contact_box_text .fa:before{
                    line-height: 52px;
                    color: #fff;
                    font-size: 30px;
                }

    .contact_us_form{
        overflow: hidden;
    }
        .contact_us_main_ttl{
            text-align: center;
        }
        .contact_before_form{
            text-align: justify;
            /*color: #2F3337;*/
            color: #26292D;
            font-size: 18px;
        }
        .contact_us_form_box{
            
        }
            .contact_us_field{
                margin-bottom: 20px;
            }
                [class^="contact_field_"]{
                    border: 1px solid #c9c9c9;
                    background-color: #FFF;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    padding: 10px;
                    outline: none;
                    height: 40px;
                    width: 100%;
                    font-size: 18px;
                    line-height: 20px;
                }
                .contact_field_name{
                    
                }
                .contact_field_mail{
                    
                }
                .contact_field_phone{
                    
                }
                .contact_field_textarea{
                    height: 160px;
                }
                input.invalid,
                textarea.invalid,
                .jq-selectbox.invalid .jq-selectbox__select{
                    border: 2px solid red;
                    
                }
                input::-webkit-input-placeholder       {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;-ms-text-overflow: ellipsis;
                text-overflow: ellipsis;}
                input::-moz-placeholder                {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;-ms-text-overflow: ellipsis;
                text-overflow: ellipsis;}
                input:-moz-placeholder                 {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;-ms-text-overflow: ellipsis;
                text-overflow: ellipsis;}
                input:-ms-input-placeholder            {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;-ms-text-overflow: ellipsis;
                text-overflow: ellipsis;}

                input:focus::-webkit-input-placeholder {line-height: 100px; transition: all 0.5s ease;}
                input:focus::-moz-placeholder          {line-height: 100px; transition: all 0.5s ease;}
                input:focus:-moz-placeholder           {line-height: 100px; transition: all 0.5s ease;}
                input:focus:-ms-input-placeholder      {line-height: 100px; transition: all 0.5s ease;}

                textarea::-webkit-input-placeholder       {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;}
                textarea::-moz-placeholder                {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;}
                textarea:-moz-placeholder                 {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;}
                textarea:-ms-input-placeholder            {line-height: 20px;   transition: all 0.5s ease;font-family: "LatoLightItalic";color: #26292D;font-size: 18px;}

                textarea:focus::-webkit-input-placeholder {
                    transition: all 0.5s ease;
                    -webkit-transform: translateY(-50px);
                    -ms-transform: translateY(-50px);
                    -o-transform: translateY(-50px);
                    transform: translateY(-50px);
                }
                textarea:focus::-moz-placeholder          {
                    transition: all 0.5s ease;
                    -webkit-transform: translateY(-50px);
                    -ms-transform: translateY(-50px);
                    -o-transform: translateY(-50px);
                    transform: translateY(-50px);
                }
                textarea:focus:-moz-placeholder           {
                    transition: all 0.5s ease;
                    -webkit-transform: translateY(-50px);
                    -ms-transform: translateY(-50px);
                    -o-transform: translateY(-50px);
                    transform: translateY(-50px);
                }
                textarea:focus:-ms-input-placeholder      {
                    transition: all 0.5s ease;
                    -webkit-transform: translateY(-50px);
                    -ms-transform: translateY(-50px);
                    -o-transform: translateY(-50px);
                    transform: translateY(-50px);
                }

/*=======contact_us.html end=======*/


    .privacy_box p{
        font-family: "LatoLight";
    }


/*=======registration.html start=======*/

    
    .registration_box_main{
        
    }
        .registration_form_container{
            
        }
            .registration_title{
                margin-bottom: 50px;
            }
            .select_box{
                margin-bottom: 20px;
                -webkit-animation: none;
                   -moz-animation: none;
                     -o-animation: none;
                        animation: none;
            }
            .select_container{
                
            }
                .select_title.title1{
                    font-size: 16px;
                    letter-spacing: -0.1px;
                    margin-bottom: 5px;
                    color: #2F3337;
                }
                .select_box.select_item{
                    width: 32.88%;
                    display: inline-block;
                }
                    #select_container{
                        
                    }
                    #select_container2{
                        
                    }
                    #select_container3{
                        
                    }
                    #select_container4{
                        
                    }
                    #select_container5{
                        
                    }
            .registration_form_container .radio_container{
                margin-bottom: 10px;
            }
                .registration_form_container .radio_container_item{
                    width: 49%;
                    display: inline-block;
                }

            .checkbox_box{
                
            }
                .input_checked{
                    display: none;
                }
                .label_checked{
                    color: #26292D;
                    padding: 2px 0 2px 20px;
                    position: relative;
                    font-size: 18px;
                    cursor: pointer;
                }
                    .label_checked:before{
                        position: absolute;
                        left: 0;
                        top: 3px;
                        content: "\f096";
                        font: normal normal normal 18px/1 FontAwesome;
                         font-size: 18px; 
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #63B8BD;
                    }
                    input[type="checkbox"]:checked + .label_checked:before{
                        content: "\f046";
                    }

        .reg_box_send{
            padding: 50px 0 0px 0;
        }
            .important_word{
                /*color: #b40000;*/
                color: red;
                font-size: 20px;
                margin-bottom: 30px;
            }
            .reg_box_send .steps{
                margin-bottom: 20px;
                color: #26292D;
            }
            .reg_btn_send_box{
                margin-top: 30px;
                text-align: center;
            }
                .reg_btn_send_box a{
                    
                }


/*=======registration.html end=======*/



/*=======fast_track.html start=======*/


    .fast_track_box_main{
        
    }
        .fast_track_form_container{
            
        }
            .not_ignore_title{
                /*color: #B40000;*/
                color: red !important;
            }


/*=======fast_track.html end=======*/


/*---------------------- START page: Faq's_1 --------------------------*/


    .faqs_1_block_text h1{
        margin-bottom: 5px;
    }
    .faq_online_main{
        overflow: hidden;
    } 
        .faqs_1_block_text p{
            color: #2f3337;
        }
        .faqs_1_list li{
            color: #63b8bd;
        }


/*---------------------- END page: Faq's_1 --------------------------*/


/*---------------------- START page: terms_conditions --------------------------*/


    .hr{
        border-top: 1px solid #888;
    }
    .terms_block_text{
        color: #2F3337;
    }
    .terms_block{
        padding-left: 50px;
    }
    .terms_list{
        padding-left: 25px;
    }
        .terms_list li,
        .terms_block li{
            position: relative;
            margin-left: 0;
            margin-bottom: 15px;
        }
        .condition_item{
            margin-right: 8px;
        }
            .condition_item_title{
                padding-left: 0;
            }
            .condition_item2{
                font-size: 14px;
                padding-left: 10px;
            }


/*---------------------- END page: terms_conditions --------------------------*/



/*=====================> Content End ========================*/



/*=====================> Paragraphs ========================*/

    p {margin-bottom:18px}
    .mb0{margin-bottom: 0;}
    .mb1{ margin-bottom:1px;}
    .mb2{ margin-bottom:2px;}
    .mb3{ margin-bottom:3px;}
    .mb4{ margin-bottom:4px;}
    .mb5{ margin-bottom:5px;}
    .mb6{ margin-bottom:6px;}
    .mb7{ margin-bottom:7px;}
    .mb8{ margin-bottom:8px;}
    .mb9{ margin-bottom:9px;}
    .mb10{ margin-bottom:10px;}
    .mb11{ margin-bottom:11px;}
    .mb12{ margin-bottom:12px;}
    .mb13{ margin-bottom:13px;}
    .mb14{ margin-bottom:14px;}
    .mb15{ margin-bottom:15px;}
    .mb16{ margin-bottom:16px;}
    .mb17{ margin-bottom:17px;}
    .mb18{ margin-bottom:18px;}
    .mb19{ margin-bottom:19px;}
    .mb20{ margin-bottom:20px;}
    .mb21{ margin-bottom:21px;}
    .mb22{ margin-bottom:22px;}
    .mb23{ margin-bottom:23px;}
    .mb24{ margin-bottom:24px;}
    .mb25{ margin-bottom:25px;}
    .mb26{ margin-bottom:26px;}
    .mb27{ margin-bottom:27px;}
    .mb28{ margin-bottom:28px;}
    .mb29{ margin-bottom:29px;}
    .mb30{ margin-bottom:30px;}
    .mb31{ margin-bottom:31px;}
    .mb32{ margin-bottom:32px;}
    .mb33{ margin-bottom:33px;}
    .mb34{ margin-bottom:34px;}
    .mb35{ margin-bottom:35px;}
    .mb36{ margin-bottom:36px;}
    .mb37{ margin-bottom:37px;}
    .mb38{ margin-bottom:38px;}
    .mb39{ margin-bottom:39px;}
    .mb40{ margin-bottom:40px;}
    .mb41{ margin-bottom:41px;}
    .mb42{ margin-bottom:42px;}
    .mb43{ margin-bottom:43px;}
    .mb44{ margin-bottom:44px;}
    .mb45{ margin-bottom:45px;}
    .mb46{ margin-bottom:46px;}
    .mb47{ margin-bottom:47px;}
    .mb48{ margin-bottom:48px;}
    .mb49{ margin-bottom:49px;}
    .mb50{ margin-bottom:50px;}
    .mb51{ margin-bottom:51px;}
    .mb52{ margin-bottom:52px;}
    .mb53{ margin-bottom:53px;}
    .mb54{ margin-bottom:54px;}
    .mb55{ margin-bottom:55px;}
    .mb58{ margin-bottom:58px;}
    .mb62{ margin-bottom:62px;}
    .mb75{ margin-bottom: 75px;}

    .pt20{padding-top: 20px !important;}
    .pt45{padding-top: 45px !important;}

/*=====================> Paragraphs End ========================*/



/*=====================> Titles  Start========================*/
    h1{
        font-family: "LatoBold";
        margin-bottom: 20px;
        color: #2F3337;
    }
    h2,h3,h4{
      font-weight:normal;
      margin-bottom: 20px;
    }
    .title1{
        color: #63b8bd;
        font-size: 21px;
        line-height: 30px;
        text-transform: uppercase;
        font-family: "LatoBold";
    }

    .title2{
        font-size: 47px;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: 100;
    }

    .title3{
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        color: #2F3337;
    }
     .title4{
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #2F3337;
    }

    .td_und{text-decoration: underline;}
    .td_und:hover{text-decoration: none;}

    .td_und_no{text-decoration: none;}
    .td_und_no:hover{text-decoration: underline;}

    .td_und_no_imp{text-decoration: none !important;}

    .text_upp{text-transform: uppercase;}

/*=====================> Titles  End  ========================*/



/*================================>> GOOGLE FONTS  Start<<========================================*/

    .pt_normal{
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
    }
    .pt_normal_it{
      font-family: 'PT Sans', sans-serif;
      font-weight: 400;
      font-style: italic;
    }
    .pt_bold{
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
    }
    .pt_bold_it{
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-style: italic;
    }

    .lato_reg{
        font-family: "LatoRegular";
    }
    .lato_bold{
        font-family: "LatoBold";
    }
    .lato_it{
        font-family: "LatoItalic";
    }
    .lato_light{
        font-family: "LatoLight";
    }
    .lato_boldIt{
        font-family: "LatoBoldItalic";
    }
    .lato_lightIt{
        font-family: "LatoLightItalic";
    }

/*================================>> GOOGLE FONTS  End  <<========================================*/



/*>><<====================================   INSTALL FONTS  START ====================================>><<*/

    /* font-family: "LatoRegular"; */
    @font-face {
        font-family: "LatoRegular";
        src: url("../font/Lato/LatoRegular.eot");
        src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
        url("../font/Lato/LatoRegular.woff") format("woff"),
        url("../font/Lato/LatoRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
    /* font-family: "LatoBold"; */
    @font-face {
        font-family: "LatoBold";
        src: url("../font/Lato/LatoBold.eot");
        src: url("../font/Lato/LatoBold.eot?#iefix")format("embedded-opentype"),
        url("../font/Lato/LatoBold.woff") format("woff"),
        url("../font/Lato/LatoBold.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
    /* font-family: "LatoItalic"; */
    @font-face {
        font-family: "LatoItalic";
        src: url("../font/Lato/LatoItalic.eot");
        src: url("../font/Lato/LatoItalic.eot?#iefix")format("embedded-opentype"),
        url("../font/Lato/LatoItalic.woff") format("woff"),
        url("../font/Lato/LatoItalic.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
    /* font-family: "LatoLight"; */
    @font-face {
        font-family: "LatoLight";
        src: url("../font/Lato/LatoLight.eot");
        src: url("../font/Lato/LatoLight.eot?#iefix")format("embedded-opentype"),
        url("../font/Lato/LatoLight.woff") format("woff"),
        url("../font/Lato/LatoLight.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
    /* font-family: "LatoBoldItalic"; */
    @font-face {
        font-family: "LatoBoldItalic";
        src: url("../font/Lato/LatoBoldItalic.eot");
        src: url("../font/Lato/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
        url("../font/Lato/LatoBoldItalic.woff") format("woff"),
        url("../font/Lato/LatoBoldItalic.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
    /* font-family: "LatoLightItalic"; */
    @font-face {
        font-family: "LatoLightItalic";
        src: url("../font/Lato/LatoLightItalic.eot");
        src: url("../font/Lato/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
        url("../font/Lato/LatoLightItalic.woff") format("woff"),
        url("../font/Lato/LatoLightItalic.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }

/*>><<====================================   INSTALL FONTS  END   ====================================>><<*/



/*================================>> Hovers Transition  Start<<========================================*/

    a{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    a:hover{
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }

    .delay_03s{
            -webkit-animation-delay: .3s;
               -moz-animation-delay: .3s;
                 -o-animation-delay: .3s;
                    animation-delay: .3s;
        }
    .delay_05s{
        -webkit-animation-delay: .5s;
           -moz-animation-delay: .5s;
             -o-animation-delay: .5s;
                animation-delay: .5s;
    }
    .delay_07s{
        -webkit-animation-delay: .7s;
           -moz-animation-delay: .7s;
             -o-animation-delay: .7s;
                animation-delay: .7s;
    }
    .animated{
        visibility: hidden;
    }
/*================================>> Hovers Transition  Start<<========================================*/



/*================================>> Footer  Start<<========================================*/
    footer {
        overflow: hidden;
    }
    .footer_top{
        background-color: #63B8BD;
        min-height: 50px;
    }
        .footer_top_list{
            
        }
            .footer_top_list_it{
                float: left;
                margin: 0;
                padding-bottom: 0;
            }
                .footer_top_list_it a{
                    margin-right: 15px;
                    display: inline-block;
                    line-height: 50px;
                    font-size: 22px;
                    text-transform: uppercase;
                    color: #FFF;
                }
                .footer_top_list_it a:hover{
                    color: #26292D;
                }


    .footer_bottom{
        background-color: #2F3337;
        overflow: hidden;
    }
        .footer_text{
            color: #FFF;
            padding: 20px 0;
            margin-bottom: 0px;
            line-height: normal;
            font-size: 20px;
        }
            .footer_posted{
                color: #63B8BD;
            }
            .footer_text.footer_posted{
                
            }

/*============>> copyright_box  Start  <<============*/

.copyright_box{
    background-color: #26292D;
}
    .copyright_text{
        
    }
        .copyright_text_it{
            color: #63B8BD;
            padding: 20px 0;
            margin-bottom: 0px;
            line-height: normal;
            font-size: 16px;
        }
            .copyright_text_it span{
                color: #888888;
            }
/*============>> copyright_box  End  <<============*/


/*========  ahchor  ========*/
    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 150px;
            bottom: 150px;
            visibility: hidden;
            opacity: 0;
            bottom: 200px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                /*border: 3px solid #63B8BD;*/
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                /*color: #63B8BD;*/
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                /*background-color: #34A706;
                border: 3px solid #34A706;*/
                /*background-color: #2F3337;*/
                /*border: 3px solid #2F3337;*/
                background-color: #34A706;
                border: 3px solid #34A706;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }
    /*========  ahchor end  ========*/
    

/*================================>> Footer  End  <<========================================*/